.App {
  text-align: center;
}

use {
  fill: transparent;
}

.green {
  fill: green;
}

svg {
  width: 100%;
  max-width: 500px;
  flex: 1;
  border: 2px solid black;
}

.chart {
  flex: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.resource-chart {
  max-width: 500px
}
