.App {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 50px
}

use {
  fill: transparent;
}

.green {
  fill: green;
}

svg {
  width: 100%;
  max-width: 500px;
  flex: 1;
  /* outline: 2px solid black; */
}

.chart {
  flex: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.resource-chart {
  max-width: 500px
}

.recharts-text {
  font-size: 0.8rem;
}

.scores {
  text-align: left;
  font-size: 1.5em
}

.number-tile {
  font-size: 10px;
  font-family: "Courier";
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
